<form [formGroup]="formularioContacto" (ngSubmit)="notificarCreacionContacto()">
    <!--Nombre del contacto-->
    <div class="row">
        <div class="offset-by-three six columns">
            <label for="nombre-contacto">Nombre</label>
            <input id="nombre-contacto" type="text" placeholder="Nombre" formControlName="nombre" class="u-full-width">
        </div>
        <div>
            <span *ngIf="formularioContacto.get('nombre').touched && formularioContacto.get('nombre').invalid"> El campo nombre es obligatorio y debe de terner al menos
                3 carácteres.
              </span>
        </div>
    </div>
    <!--Nombre del apellisd-->
    <div class="row">
        <div class="offset-by-three six columns">
            <label for="apellidos-contacto">Apellidos</label>
            <input id="apellidos-contacto" type="text" placeholder="Apellidos" formControlName="apellidos" class="u-full-width">
        </div>
    </div>
    <!--Telefono del contacto-->
    <div class="row">
        <div class="offset-by-three six columns">
            <label for="telefono-contacto">Teléfono</label>
            <input id="telefono-contacto" type="text" placeholder="Telefono" formControlName="telefono" class="u-full-width">
        </div>
    </div>
    <!--Email del contacto-->
    <div class="row">
        <div class="offset-by-three six columns">
            <label for="email-contacto">Email</label>
            <input id="email-contacto" type="text" placeholder="Email" formControlName="email" class="u-full-width">
        </div>
    </div>
    <!--Facebook del contacto-->
    <div class="row">
        <div class="offset-by-three six columns">
            <label for="facebook-contacto">Facebook</label>
            <input id="facebook-contacto" type="text" placeholder="facebook" formControlName="facebook" class="u-full-width">
        </div>
    </div>
    <!--Twitrer del contacto-->
    <div class="row">
        <div class="offset-by-three six columns">
            <label for="twitter-contacto">Twitter</label>
            <input id="twitter-contacto" type="text" placeholder="twitter" formControlName="twitter" class="u-full-width">
        </div>
    </div>
    <!--Boton guardar-->
    <div class="row">
        <div class="offset-by-three six columns">
            <button class="u-full-width button-primary" type="submit" [disabled]="formularioContacto.invalid"> Guardar </button>
        </div>
    </div>
</form>