<div class="container">
  <!--The content below is only a placeholder and can be replaced.-->
  <header>
    <h1>
      Super Agenda
    </h1>
  </header>
<!-- Barra de navegación-->
<nav>
  <ul>
    <li>
      <a routerLink="/nuevo" routerLinkActive="seleccionada" >
      <i class="fa fa-plus" aria-hidden="true">
      </i>
      </a>
    </li>
    <li>
        <a routerLink="/todos" routerLinkActive="seleccionada" >
        <i class="fa fa-list" aria-hidden="true"></i></a>
    </li>
  </ul>
</nav>

  <!-- 
    Zona dinamica
-->
  <router-outlet></router-outlet>

</div>
